.array-container {
    width: 100vw;
    height: 95.5vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: black;
}

.array-bar {
    width: 2px;
    background-color: white;
    display: inline-block;
    margin: 0 1px;
}


header {
    background-color: purple;
    color: white;
    padding: 1rem;
    text-align: center;
}
